<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text"
                [(ngModel)]="listFilter" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <h4>Filtered by: {{listFilter}}</h4>
            </div>
            <div class="col-md-6 text-right">
              <div class="cart-image">
                <a [routerLink]="['products/cart']" (click)="onCartClick()">
                    <img [src]="cartImage" 
                        [style.width.px]="imageWidth" 
                        [style.margin.px]="imageMargin">
                </a>
              </div>
            </div>
        </div>
        <div class="table-responsive">
            <div class="filter-row">
              </div>
            <table class="table" *ngIf="products.length">
                <thead>
                    <tr>
                        <th></th>
                        
                        <th>
                            <input type="text" [(ngModel)]="filters.nameFilter" class="mytext" (input)="onFilterInputChange()"/>
                        </th>

                        <th>
                            <input type="text" [(ngModel)]="filters.codeFilter" class="mytext" (input)="onFilterInputChange()"/>
                        </th>

                        <th></th>
                        
                        <th>
                            <input type="number" [(ngModel)]="filters.priceFilter" class="mytext" (input)="onFilterInputChange()"/>
                        </th>
                        
                        <th>
                            <input type="number" [(ngModel)]="filters.starFilter"  class="mytext"  (input)="onFilterInputChange()"/>
                        </th>
                        
                        <th></th>
                    </tr>
                    <tr>
                        <th>
                            <button class="cta" mat-button (click)="toggleImage()">
                                <span>{{showImage ? 'Hide': "Show"}} Image</span>
                                    <svg viewBox="0 0 13 10" height="10px" width="15px">
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                    </svg>
                                </button>
                        </th>

                        <th> Product</th>
                        
                        <th> Code</th>
                        
                        <th>Available</th>
                        
                        <th>Price</th>
                        
                        <th>5 Star Rating</th>

                        <th>Images</th>

                        <th>Add to Cart</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of filteredProducts | productFilter:filters">
                        <td>
                            <img *ngIf="product.showImages || showImage"
                            [src]="product.imageUrl"
                                 [title]="product.productName"
                                 [style.width.px]="imageWidth"
                                 [style.margin.px]="imageMargin">
                        </td>
                        <td>
                            <a [routerLink]="['/products', product.productId]" (click)="openDialog(product)">
                                {{ product.productName }}
                            </a>
                        </td>
                        <td>{{ product.productCode | lowercase | convertToSpaces:"-" }}</td>
                        <td>{{ product.releaseDate | date:'dd/MM/yyyy' }}</td>
                        <td>{{ product.price | currency:'INR':'symbol':'1.2-2' }}</td>
                        <td> <pm-star [rating]="product.starRating"
                                      (ratingClicked)="onRatingClicked($event)"></pm-star> </td>
                        <td>
                            <button class="cta" mat-button (click)="toggleImages(product)">
                                <span>Product Image</span>
                                    <svg viewBox="0 0 13 10" height="10px" width="15px">
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                    </svg>
                              </button>
                        </td>
                        <td>
                            <button class="cta" mat-button (click)="addToCart(product)">
                                <span>Cart</span>
                                    <svg viewBox="0 0 13 10" height="10px" width="15px">
                                    <path d="M1,5 L11,5"></path>
                                    <polyline points="8 1 12 5 8 9"></polyline>
                                    </svg>
                              </button>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
