<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Saitama</h3>
      </div>

      <div class="text-center">@capedbaldy</div>
      <div class="text-center">
        <a href="https://pypi.org/project/pyconversions/" target="_blank">www.bit.ly/pyconversions</a>
      </div>
    </div>
  </div>
</div>
