<div class="product-cart">
    <h3>Shopping Cart</h3>
    <div class="table-responsive">
        <table class="table" *ngIf="products.size > 0">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Product Name</th>
                    <th>Code</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th>5 Star Rating</th>
                    <th>Delete Product</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products.entries()">
                    <td>
                        <img
                                [src]="product[0].imageUrl"
                                [title]="product[0].productName"
                                [style.width.px]="30"
                                [style.margin.px]="20">

                    </td>
                    <td>
                        <a [routerLink]="['/products', product[0].productId]">
                            {{ product[0].productName }}
                        </a>
                    </td>
                    <td>{{ product[0].productCode | lowercase | convertToSpaces:"-" }}</td>
                    <td>{{ product[0].releaseDate | date:'dd/MM/yyyy' }}</td>
                    <td>{{ product[0].price | currency:'INR':'symbol':'1.2-2' }}</td>
                    <td> <pm-star [rating]="product[0].starRating"> </pm-star> </td>
                    <td>
                        <button class="noselect" (click)="onDeleteProduct(product[0])">
                            <span class="text">Delete</span>
                            <span class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 24 24">
                                    <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z">

                                    </path>
                                </svg>
                            </span>
                        </button>
                        
                    </td>
                    <td>
                        {{ product[1]}}
                    </td>
                </tr>
            </tbody>
        </table>